.signin-icon {
  margin:30px auto;
  display: flex;
  justify-content: center;
}

.btn-color {
  background-color: #5A7D7C;
  color: #fff;
}

.nav-style {
  background-color: #5A7D7C;
}

.nav-style a {
  color: #fff;
}


.message-table {
  display: inline-block;
}

.search-pic {
  max-width: 345px;
  min-width: 345px;
  min-height: 230px;
  max-height: 230px;

}
